# Python cache
__pycache__/
*.pyc

# Environment variables (VERY IMPORTANT)
.env

# Virtual environments
.venv/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log